hmtl, body {
    font-family: 'Lato', sans-serif !important; 
}
#menu .alert-warning {
    color: #ffffff;
    background-color: #6a28e5;
    border-color: #6a28e5;
}

#menu .alert {
    margin-bottom: 0px;
}

#menu .bg-light {
    background-color: #ffffff !important;
}

#menu .logo-larg {
    width: 64px;
}

html {
    background-color: #6a28e5;
}

#menu .btn-link {
    color:#000000e6;
}

#menu .btn-primary {
    background-color: #6a28e5;
    border-color: #6a28e5;
    border-radius: 50px;
}
#menu .navbar-light .navbar-text {
    color:  #6a28e5;
}